.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aliceblue;
}
.nav-item{
  text-decoration: none;
  cursor: pointer;
  background-color: aliceblue;
  color: blue;
  padding: 20px;
  border-radius: 1em;
}

.nav-item.clicked{
  font-weight: bold;
  background-color: blue;
  color: aliceblue;
}

