/* big navbar */
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aliceblue;
}


.navbar > .nav-option{
  text-decoration: none;
  cursor: pointer;
  background-color: aliceblue;
  color: blue;
  padding: 20px;
  border-radius: 1em;
}

.navbar > .nav-option.clicked{
  font-weight: bold;
  background-color: blue;
  color: aliceblue;
}


/* small nav */
.nav-small-button{
  padding: 10px;
  margin: 0;
  float: right;
}
.nav-small{
  width: 100%;
  display: none;
  float: right;
}

.nav-small > .nav-option{
  width: 100%;
  background-color: aliceblue;
  color: blue;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

.nav-small > .nav-option:hover{
  background-color: blue;
  color: aliceblue;
}

/* make it responsive! */
@media screen and (max-width: 44em) {
  .nav-small{
    display: block
  }
  .navbar{
    display: none
  }
}